{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },

    "AllowedHosts": "*",

    "ConnectionStrings": {
        "DefaultConnection": "Server=YOUR_SERVER;Database=YOUR_DATABASE;Trusted_Connection=True;TrustServerCertificate=True;"
    },

    "JwtSettings": {
        "SecretKey": "YOUR_SECRET_KEY_HERE",
        "Issuer": "YOUR_ISSUER",
        "Audience": "YOUR_AUDIENCE",
        "ExpirationInMinutes": 1
    },

    "SendGrid": {
        "ApiKey": "YOUR_SENDGRID_API_KEY",
        "FromEmail": "your@email.com",
        "FromName": "YourServiceName"
    },

    "Authentication": {
        "Google": {
            "ClientId": "YOUR_GOOGLE_CLIENT_ID"
        }
    },

    "VnPay": {
        "TmnCode": "Your_Code",
        "HashSecret": "Your_HashSecret_Code",
        "BaseUrl": "https://sandbox.vnpayment.vn/paymentv2/vpcpay.html",
        "PaymentBackReturnUrl": "http://localhost:5173/payment-result",
        "Command": "pay",
        "CurrCode": "VND",
        "Version": "2.1.0",
        "Locale": "vn"
    },
    "TimeZoneId": "SE Asia Standard Time" // If do not us Windown OS change it to: Asia/Bangkok
}
